### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [367]:
## This is my final notebook for the homework.


## THREE TAKE AWAYS FROM THIS DATA(this will also go in READ.ME)
# 1) Male dominated industry/game. Escpecially when looking at total dollars, they provided all but $400 of the income.
# 2) However, women spend more $ per transaction, so if we could gain more female base, revenue would increase at a quicker pace. 
# 3) There is a normal distribution that peaks in the 20-24 age range; so keeping that audience pleased is key to revenues. 







# Dependencies and Setup
import pandas as pd
import os


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [368]:
# checking pandas version
print(pd.__version__)

1.0.1

In [369]:
# Double checking columns to make sure I'm seeing everything..
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [370]:
# Checking data stats for later analysis check..
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [371]:
# Checking for any NaN / Null numbers..
purchase_data.isnull().any()

# Doesn't look like there any empty cells to deal with!

Purchase ID    False
SN             False
Age            False
Gender         False
Item ID        False
Item Name      False
Price          False
dtype: bool

In [372]:
# finally, checking data types
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

## Player Count

* Display the total number of players

In [373]:
# Checking to see how many unique users there are..
tot_players_init = purchase_data["SN"].unique()
tot_players = pd.DataFrame(purchase_data["SN"].value_counts())
tot_players

# .. little did I know this would actually come in handly later for top spenders...

               SN
Lisosia93       5
Iral74          4
Idastidru52     4
Tyidaim51       3
Yathecal82      3
...            ..
Chadistaya75    1
Mindjasksya61   1
Undotesta33     1
Reulae52        1
Irilis75        1

[576 rows x 1 columns]

In [374]:
# The length of the this unique array is the total number of players..
tot_players.describe()

# We can see from the above .value_count length - but I went an extra step to check both .shape and .describe for confirmation of count.
# Total Player Cound = 576!

               SN
count  576.000000
mean     1.354167
std      0.626585
min      1.000000
25%      1.000000
50%      1.000000
75%      2.000000
max      5.000000

In [375]:
# or what I actually could've done first..

tot_players_count = len(tot_players)
tot_players_count

576

In [376]:
# Create Display Table..
TotalPlayers = [tot_players_count]
pd.DataFrame(TotalPlayers, columns=["Total Players"])


# GRADER: As you will see throughout, I may do things several ways - this is just keeping notes for myself later on how things can be done, sorry!

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [377]:
# To find the number of unique items, we can use either the Item ID or Name, for fun - I'm going to check both to see if they have the same count! 
unique_itemID = purchase_data["Item ID"].unique()
unique_itemName = purchase_data["Item Name"].unique()

In [378]:
no_unique_itemID = len(unique_itemID)
no_unique_itemID

179

In [379]:
no_unique_itemName = len(unique_itemName)
no_unique_itemName

179

In [380]:
# we know the total count from before 
no_purchases = purchase_data["Purchase ID"].count()

In [381]:
# Data matches

# To calculate the avergae price, we will need to the total sales
total_sales = purchase_data["Price"].sum()
total_sales

2379.77

In [382]:
# From the summary table checked in the beginning of the analysis, we know there are 780 purchase line items
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [383]:
# Create a Display Table...
# purchasing_summary_items = 
summary_purchased_items = pd.DataFrame({"Unique Items":[no_unique_itemID], 
                                        "Total Items":[no_purchases], 
                                        "Average Sale":[f"${round(average_price,2)}"], 
                                        "Total Revenue":[f"${(total_sales)}"]})
summary_purchased_items

   Unique Items  Total Items Average Sale Total Revenue
0           179          780        $3.05      $2379.77

In [384]:
## after ding this part myself, I learned the .nunique() from a TA in office hours! 
## not qualifying this as my official answer because I didn't do it, but wanted to keep it in the file for future reference.

#no_unique_items = purchase_data["Item Name"].nunique()
#average_price = purchase_data["Price"].mean()
#average_price

#no_purchases = purchase_data["Purchase ID"].count()
#total_revenue = purchase_data["Price"].sum()
#summary_table_df = pd.DataFrame({
#    "Number of Unique Items": [no_unique_items],
#    "Average Price": [f"${round(average_price,2)}"],
#    "Number of Purchases": [no_purchases],
#    "Total Revenue": [f"${round(total_revenue,2)}"]
#    })
#summary_table_df.head()

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [385]:
all_genders = purchase_data.groupby(['Gender'])['SN'].nunique()
all_genders_tot = purchase_data.groupby(['Gender'])['SN'].nunique()
all_genders_pct = all_genders_tot/purchase_data['SN'].nunique()

gender_summary = pd.DataFrame({"Total Count": all_genders_tot,
                               "Percentage":round(all_genders_pct*100,2)})
gender_summary


## throughout this sheet, I cannot get the $ or % to print ... [f"${round(all_gender_pct,2)}"] ... never prints without error

                       Total Count  Percentage
Gender
Female                          81       14.06
Male                           484       84.03
Other / Non-Disclosed           11        1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [386]:
## Since the study is by gender, it will help to switch the index? (turns out not needed!)
gender_index = purchase_data.set_index("Gender")
#gender_index.head()

In [387]:
purchase_count_female = gender_index.loc["Female"]
#purchase_count_female.describe()

In [388]:
purchase_count_male = gender_index.loc["Male"]
#purchase_count_male.describe()

In [389]:
purchase_count_other = gender_index.loc["Other / Non-Disclosed"]
#purchase_count_other.describe()

In [390]:
## these items were used for checking data...

In [391]:
new_gender_grouping = purchase_data.groupby(["Gender"])
gender_avg = new_gender_grouping.mean()['Price']
gender_avg

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [392]:
gender_totals = new_gender_grouping.count()['Age']
gender_totals

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Age, dtype: int64

In [393]:
tot_purchase_value_per = new_gender_grouping.sum()['Price']
tot_purchase_value_per

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [394]:
#purchase_count = new_gender_grouping.values_count()["Gender"]
#purchase_count

In [395]:
#### I need the number of unique players 
avg_tot_per = new_gender_grouping.sum()['Price'] / all_genders_tot
avg_tot_per

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [396]:
purchase_analysis = pd.DataFrame({"Purchase Count": gender_totals, 
                                  "Avg Purchase Price":round(gender_avg,2), 
                                  "Total Purchase Value":tot_purchase_value_per,
                                  "Avg Total Purchase Per Person": round(avg_tot_per,2)
                                 })
purchase_analysis

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [397]:
### Just to show you my agony, I did all the calculations below FIRST...yikes.  I knew pandas was designed so we didn't have to do all of this hand calculating.
### I know fully understand that power!!!!

In [398]:
## of course these numbers match my above 'all_genders' data frame but never hurts to double check
#all_genders

In [399]:
#total_female_sales = purchase_count_female["Price"].sum()
#total_female_sales

In [400]:
#total_male_sales = purchase_count_male["Price"].sum()
#total_male_sales

In [401]:
#total_other_sales = purchase_count_other["Price"].sum()
#total_other_sales

In [402]:
#avg_female_sale = total_female_sales / 113
#avg_female_sale

#avg_female_sale

In [403]:
#avg_male_sale = total_male_sales / 652
#avg_male_sale

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [404]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [405]:
purchase_data["Purchaser Age"] = pd.cut(purchase_data["Age"], bins, labels = group_names)
# purchase_data.head()

In [406]:
age_groups = purchase_data.groupby("Purchaser Age")
# age_groups.describe()

In [407]:
## this goes below in Purchasing Analysis (Age)

# age_group_count = age_groups.count()
# age_group_count

In [408]:
age_group_per = age_groups['SN'].nunique()
age_group_per

Purchaser Age
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [409]:
age_demo_summary = pd.DataFrame({'Total Count':age_group_per,
                                 "Percentage of Players":round((age_group_per/tot_players_count)*100,2)})
age_demo_summary

               Total Count  Percentage of Players
Purchaser Age
<10                     17                   2.95
10-14                   22                   3.82
15-19                  107                  18.58
20-24                  258                  44.79
25-29                   77                  13.37
30-34                   52                   9.03
35-39                   31                   5.38
40+                     12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [410]:
## Data has been binned above by age in: age_groups
## Apparently I had done this one above and hadn't needed it yet!

In [411]:
age_group_count = age_groups.count()['Purchase ID']
# only need one of these columns - will have to rename one I guess
age_group_count

Purchaser Age
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [412]:
purch_per_group = age_groups.sum()['Price']
purch_per_group

Purchaser Age
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [413]:
avg_purc_price = age_groups.mean()['Price']
avg_purc_price

Purchaser Age
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [414]:
avg_total_players = age_groups.sum()['Price']/age_group_per
avg_total_players

Purchaser Age
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [415]:
purch_anal = pd.DataFrame({"Purchase Count": age_group_count, 
                           "Average Purchase": round(avg_purc_price,2),
                           "Total Purchase Amt": purch_per_group,
                           "Avg Total Per Player": round(avg_total_players,2), 
                         })
purch_anal

,Purchase Count,Average Purchase,Total Purchase Amt,Avg Total Per Player
Purchaser Age,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [416]:
## This will be by SN

In [417]:
## tot_players_init = purchase_data["SN"].unique()    <- this returns each unique player

In [418]:
## what did each of these folks spend?  probably a sum of the prices at each of their sceen name lines
## this is easiest, and then we can divide the total purchase of each user by the purchase count to get their average purchase. 

player_purch_count = pd.DataFrame(purchase_data.groupby(["SN"]).count()["Price"])
player_purch_count

               Price
SN
Adairialis76       1
Adastirin33        1
Aeda94             1
Aela59             1
Aelaria33          1
...              ...
Yathecal82         3
Yathedeu43         2
Yoishirrala98      1
Zhisrisu83         2
Zontibe81          3

[576 rows x 1 columns]

In [419]:
tot_player_purch = pd.DataFrame(purchase_data.groupby(["SN"]).sum()["Price"])
tot_player_purch

               Price
SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
...              ...
Yathecal82      6.22
Yathedeu43      6.02
Yoishirrala98   4.58
Zhisrisu83      7.89
Zontibe81       8.03

[576 rows x 1 columns]

In [420]:
avg_purch = pd.DataFrame(tot_player_purch['Price']/ tot_players['SN'])
avg_purch

                      0
Adairialis76   2.280000
Adastirin33    4.480000
Aeda94         4.910000
Aela59         4.320000
Aelaria33      1.790000
...                 ...
Yathecal82     2.073333
Yathedeu43     3.010000
Yoishirrala98  4.580000
Zhisrisu83     3.945000
Zontibe81      2.676667

[576 rows x 1 columns]

In [421]:
top_spenders = pd.DataFrame({'Purchase Count': tot_players['SN'], 
                            'Average Purchase Price': round(avg_purch[0],2),
                            'Total Purchase Value': round(tot_player_purch['Price'],2)
                            })

In [422]:
top_spenders_final = top_spenders.sort_values("Total Purchase Value", ascending = False)
top_spenders_final

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10
...                     ...                     ...                   ...
Ililsasya43               1                    1.02                  1.02
Irilis75                  1                    1.02                  1.02
Aidai61                   1                    1.01                  1.01
Chanirra79                1                    1.01                  1.01
Alo38                     1                    1.00                  1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [423]:
## looks like we should index the table by Item ID, which will be the dataset used for this exercise and the next exercise 
## first direction is to retrieve these items:

# new_purchase_data = purchase_data["Item ID", "Item Name", "Price"]

In [424]:
purchase_data.head()
# ...took another look at the data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Purchaser Age
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [425]:
pop_Item_ID = purchase_data.groupby(["Item ID"]).count()['Purchase ID']
pop_Item_ID

Item ID
0       4
1       4
2       6
3       6
4       5
       ..
178    12
179     6
181     5
182     3
183     3
Name: Purchase ID, Length: 179, dtype: int64

In [426]:
pop_items_groups = purchase_data.groupby(["Item ID"]).sum()['Price']
pop_items_groups

Item ID
0       5.12
1      11.77
2      14.88
3      14.94
4       8.50
       ...
178    50.76
179    26.88
181     8.30
182    12.09
183     3.27
Name: Price, Length: 179, dtype: float64

In [433]:
mostpopular = purchase_data.groupby(["Item ID", "Item Name"])
mostpopular_count = mostpopular.count()['Price']
mostpopular_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [434]:
mostpopular_prices = mostpopular.sum()['Price']
mostpopular_prices

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [435]:
mostpopular_byname = purchase_data.groupby(["Item Name"]).count()['Item ID']
mostpopular_byname

Item Name
Abyssal Shard                      5
Aetherius, Boon of the Blessed     5
Agatha                             6
Alpha                              3
Alpha, Oath of Zeal                3
                                  ..
Wolf                               8
Wolf, Promise of the Moonwalker    6
Worldbreaker                       4
Yearning Crusher                   3
Yearning Mageblade                 5
Name: Item ID, Length: 179, dtype: int64

In [436]:
popular_pd = pd.DataFrame({"Purchase Count": mostpopular_count,
                           "Total Purchase Value": mostpopular_prices,
                           #"Item Price":      ,
                          })

popular_pd2 = popular_pd.sort_values("Purchase Count", ascending=False)
popular_pd2

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
92,Final Critic,13,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
145,Fiery Glass Crusader,9,41.22
132,Persuasion,9,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,31.77
...,...,...,...
42,The Decapitator,1,1.75
51,Endbringer,1,4.66
118,"Ghost Reaver, Longsword of Magic",1,2.17
104,Gladiator's Glaive,1,1.93
91,Celeste,1,4.17

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [437]:
profitable_pd = popular_pd.sort_values("Total Purchase Value", ascending=False)
profitable_pd

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
92,Final Critic,13,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
82,Nirvana,9,44.10
145,Fiery Glass Crusader,9,41.22
103,Singed Scalpel,8,34.80
...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,2.12
125,Whistling Mithril Warblade,2,2.00
126,Exiled Mithril Longsword,1,2.00
104,Gladiator's Glaive,1,1.93
42,The Decapitator,1,1.75

In [366]:
## hopefully you can see that I tried doing things several different ways in this exercise.  I have a ton to learn yet but this helped drastically in gaining manipulation of data.