### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [151]:
# Dependencies and Setup
import pandas as pd
import os


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [152]:
# Double checking columns to make sure I'm seeing everything..
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [153]:
# Checking data stats..
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [154]:
# Checking for any NaN / Null numbers..
purchase_data.isnull().any()

# Doesn't look like there any empty cells to deal with!

Purchase ID    False
SN             False
Age            False
Gender         False
Item ID        False
Item Name      False
Price          False
dtype: bool

## Player Count

* Display the total number of players

In [173]:
# Checking to see how many unique users there are..
tot_players_init = purchase_data["SN"].unique()
tot_players = purchase_data["SN"].value_counts()
tot_players

# total_players = tot_init["SN"].value_counts()

Lisosia93       5
Iral74          4
Idastidru52     4
Lassilsala30    3
Aina42          3
               ..
Jiskassa76      1
Ilosian36       1
Yadaisuir65     1
Sondossa69      1
Chamimla73      1
Name: SN, Length: 576, dtype: int64

In [174]:
# The length of the this unique array is the total number of players..
tot_players.describe()

# We can see from the above .value_count length - but I went an extra step to check both .shape and .describe for confirmation of count.
# Total Player Cound = 576!

count    576.000000
mean       1.354167
std        0.626585
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        5.000000
Name: SN, dtype: float64

In [170]:
# Create Display Table..
TotalPlayers = [576]
pd.DataFrame(TotalPlayers, columns=["Total Players"])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [175]:
# To find the number of unique items, we can use either the Item ID or Name, for fun - I'm going to check both to see if they have the same count! 
no_unique_itemID = purchase_data["Item ID"].unique()
no_unique_itemName = purchase_data["Item Name"].unique()

In [176]:
no_unique_itemID.shape

(179,)

In [177]:
no_unique_itemName.shape

(179,)

In [178]:
# To calculate the avergae price, we will need to the total sales
total_sales = purchase_data["Price"].sum()
total_sales

2379.77

In [179]:
# From the summary table checked in the beginning of the analysis, we know there are 780 purchase line items
average_price = total_sales / 780
average_price

3.0509871794871795

In [180]:
# Create a Display Table...
# purchasing_summary_items = 
pd.DataFrame({"Unique Items":179, "Total Items":780., "Average Sale":3.05, "Total Revenue": 2379.77})

ValueError: If using all scalar values, you must pass an index

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [183]:
# check for other/non-disclosed genders first
all_genders = purchase_data["Gender"].value_counts()
all_genders

# If we filter the gender column for each male/female/non-discloded for unique screen names, we can get an average from the total of unique screen names

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [228]:
# we do have other/non-disclosed 
# going to make a new data frame that is just the total list of players and their gender

demograph = purchase_data.loc[:, ["SN", "Gender"]]
demograph.head()

              SN Gender
0        Lisim78   Male
1    Lisovynya38   Male
2     Ithergue48   Male
3  Chamassasya86   Male
4      Iskosia90   Male

In [238]:
# Now that I have a dataframe narrowed to the SN and Genders, I need to split out duplicates somehow
male_count = demograph[demograph["Gender"] == "Male"]
male_count_list = male_count["SN"].unique()
male_count_list.shape

(484,)

In [243]:
female_count = demograph[demograph["Gender"] == "Female"]
female_count_list = female_count["SN"].unique()
female_count_list.shape

(81,)

In [245]:
# we know we have 576 unique SN's, so 15 
other_count = 576 - 484 - 81
other_count

11

In [248]:
### as a mentor about the pipe --- this did not work, so maybe a data issue in the actual value?

# other_count = demograph[demograph["Gender"] == "Non-Disclosed" | demograph["Gender"] == "Other"]
# other_count_list = other_count["SN"].unique()
# other_count_list.shape

In [251]:
male_count = 484
male_avg = (484/576)*100
female_count = 81
female_avg = (81/576)*100
other_count = 11
other_avg = (11/576)*100

In [ ]:
### Create a summary table....


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [253]:
## Since the study is by gender, it will help to switch the index
gender_index = purchase_data.set_index("Gender")
gender_index.head()

,Purchase ID,SN,Age,Item ID,Item Name,Price
Gender,,,,,,
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53
Male,1,Lisovynya38,40,143,Frenzied Scimitar,1.56
Male,2,Ithergue48,24,92,Final Critic,4.88
Male,3,Chamassasya86,24,100,Blindscythe,3.27
Male,4,Iskosia90,23,131,Fury,1.44

In [258]:
purchase_count_female = gender_index.loc["Female"]
purchase_count_female.shape

(113, 6)

In [261]:
purchase_count_male = gender_index.loc["Male"]
purchase_count_male.shape

(652, 6)

In [267]:
purchase_count_other = gender_index.loc["Other / Non-Disclosed"]
purchase_count_other.shape

(15, 6)

In [268]:
## of course these numbers match my above 'all_genders' data frame but never hurts to double check
all_genders

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80