### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [114]:
# Dependencies and Setup
import pandas as pd
import os


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [115]:
# checking pandas version
print(pd.__version__)

1.0.1

In [98]:
# Double checking columns to make sure I'm seeing everything..
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [99]:
# Checking data stats..
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [121]:
# Checking for any NaN / Null numbers..
purchase_data.isnull().any()

# Doesn't look like there any empty cells to deal with!

Purchase ID    False
SN             False
Age            False
Gender         False
Item ID        False
Item Name      False
Price          False
dtype: bool

In [123]:
# finally, checking data types
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

## Player Count

* Display the total number of players

In [101]:
# Checking to see how many unique users there are..
tot_players_init = purchase_data["SN"].unique()
tot_players = purchase_data["SN"].value_counts()
tot_players

# total_players = tot_init["SN"].value_counts()

Lisosia93        5
Iral74           4
Idastidru52      4
Zontibe81        3
Asur53           3
                ..
Rastynusuir31    1
Jiskadarst60     1
Hallysucal81     1
Irithlis29       1
Ingatcil75       1
Name: SN, Length: 576, dtype: int64

In [124]:
# The length of the this unique array is the total number of players..
tot_players.describe()

# We can see from the above .value_count length - but I went an extra step to check both .shape and .describe for confirmation of count.
# Total Player Cound = 576!

count    576.000000
mean       1.354167
std        0.626585
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        5.000000
Name: SN, dtype: float64

In [128]:
# or what I actually could've done first..

tot_players_count = len(tot_players)
tot_players_count

576

In [132]:
# Create Display Table..
TotalPlayers = [tot_players_count]
pd.DataFrame(TotalPlayers, columns=["Total Players"])


# GRADER: As you will see throughout, I may do things several ways - this is just keeping notes for myself later on how things can be done, sorry!

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [134]:
# To find the number of unique items, we can use either the Item ID or Name, for fun - I'm going to check both to see if they have the same count! 
unique_itemID = purchase_data["Item ID"].unique()
unique_itemName = purchase_data["Item Name"].unique()

In [136]:
no_unique_itemID = len(unique_itemID)
no_unique_itemID

179

In [137]:
no_unique_itemName = len(unique_itemName)
no_unique_itemName

179

In [138]:
# Data matches

# To calculate the avergae price, we will need to the total sales
total_sales = purchase_data["Price"].sum()
total_sales

2379.77

In [140]:
# From the summary table checked in the beginning of the analysis, we know there are 780 purchase line items
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [141]:
# Create a Display Table...
# purchasing_summary_items = 
summary_purchased_items = pd.DataFrame({"Unique Items":[179], 
                                        "Total Items":[780], 
                                        "Average Sale":[3.05], 
                                        "Total Revenue": [2379.77]})
summary_purchased_items

   Unique Items  Total Items  Average Sale  Total Revenue
0           179          780          3.05        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [145]:
# check for other/non-disclosed genders first
all_genders = purchase_data["Gender"].value_counts()
all_genders

# If we filter the gender column for each male/female/non-discloded for unique screen names, we can get an average from the total of unique screen names

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [183]:
# we do have other/non-disclosed 
# going to make a new data frame that is just the total list of players and their gender

#all_genders["Price"].value_counts().head()

demograph = purchase_data.loc[:, ["SN", "Gender"]]
demograph.head()

              SN Gender
0        Lisim78   Male
1    Lisovynya38   Male
2     Ithergue48   Male
3  Chamassasya86   Male
4      Iskosia90   Male

In [178]:
# Now that I have a dataframe narrowed to the SN and Genders, I need to split out duplicates somehow
male_count = demograph[demograph["Gender"] == "Male"]
male_count_list = male_count["SN"].unique()
male_count_list.shape

(484,)

In [193]:
female_count = demograph[demograph["Gender"] == "Female"]
female_count_list = female_count["SN"].unique()
female_count_list.shape

(81,)

In [179]:
# we know we have 576 unique SN's
other_count = 576 - 484 - 81
other_count

11

In [85]:
###this did not work, so maybe a data issue in the actual value?

#other_count = demograph[demograph["Gender"] == "Non-Disclosed"]
#other_count_list = other_count["SN"].unique()
#other_count_list

In [251]:
male_count = 484
male_avg = (484/576)*100
female_count = 81
female_avg = (81/576)*100
other_count = 11
other_avg = (11/576)*100

In [146]:
##all_genders = purchase_data.groupby(["Gender", "Price"]).sum()
##all_genders.count()

In [174]:
### Create a summary table...
gender_demo = pd.DataFrame({"Total Count":[], 
                            "Percentage of Players":[], 
                            })
gender_demo

Empty DataFrame
Columns: [Total Count, Percentage of Players]
Index: []


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [168]:
## Since the study is by gender, it will help to switch the index
gender_index = purchase_data.set_index("Gender")
gender_index.head()

,Purchase ID,SN,Age,Item ID,Item Name,Price
Gender,,,,,,
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53
Male,1,Lisovynya38,40,143,Frenzied Scimitar,1.56
Male,2,Ithergue48,24,92,Final Critic,4.88
Male,3,Chamassasya86,24,100,Blindscythe,3.27
Male,4,Iskosia90,23,131,Fury,1.44

In [166]:
# Decided I can use groupby here
#gender_analysis = purchase_data.groupby(["Male", "Price"]).sum()
#gender_analysis.count()

In [152]:
purchase_count_female = gender_index.loc["Female"]
purchase_count_female.describe()

       Purchase ID         Age     Item ID       Price
count   113.000000  113.000000  113.000000  113.000000
mean    379.380531   21.345133   85.477876    3.203009
std     211.605484    6.097086   53.264183    1.158194
min      15.000000    7.000000    1.000000    1.000000
25%     199.000000   18.000000   39.000000    2.280000
50%     392.000000   21.000000   82.000000    3.450000
75%     558.000000   24.000000  129.000000    4.230000
max     775.000000   40.000000  183.000000    4.900000

In [156]:
purchase_count_male = gender_index.loc["Male"]
purchase_count_male.describe()

       Purchase ID         Age     Item ID       Price
count   652.000000  652.000000  652.000000  652.000000
mean    392.516871   22.917178   93.095092    3.017853
std     227.516414    6.689232   52.508153    1.175625
min       0.000000    7.000000    0.000000    1.000000
25%     193.750000   20.000000   52.000000    1.962500
50%     390.500000   22.000000   93.000000    3.090000
75%     592.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [157]:
purchase_count_other = gender_index.loc["Other / Non-Disclosed"]
purchase_count_other.describe()

       Purchase ID        Age     Item ID      Price
count    15.000000  15.000000   15.000000  15.000000
mean    334.600000  24.200000   80.800000   3.346000
std     234.524991   8.376839   55.593165   0.883813
min       9.000000  15.000000   16.000000   1.330000
25%     169.500000  18.000000   37.000000   3.100000
50%     291.000000  21.000000   46.000000   3.450000
75%     516.500000  30.000000  141.000000   3.875000
max     747.000000  38.000000  163.000000   4.750000

In [158]:
## now I can use iloc to grab the values I want to display

In [197]:
purchase_analysis = pd.DataFrame({"Purchase Count":[], 
                            "Avg Purchase Price":[], 
                            "Total Purchase Value":[], 
                            "Avg Total Purchase Per Person": []})
purchase_analysis

### I have all the data needed just don't know how to display it

Empty DataFrame
Columns: [Purchase Count, Avg Purchase Price, Total Purchase Value, Avg Total Purchase Per Person]
Index: []

In [159]:
### Just to show you my agony, I did all the calculations below FIRST...yikes.

In [160]:
## of course these numbers match my above 'all_genders' data frame but never hurts to double check
#all_genders

In [161]:
#total_female_sales = purchase_count_female["Price"].sum()
#total_female_sales

In [162]:
#total_male_sales = purchase_count_male["Price"].sum()
#total_male_sales

In [163]:
#total_other_sales = purchase_count_other["Price"].sum()
#total_other_sales

In [164]:
#avg_female_sale = total_female_sales / 113
#avg_female_sale

#avg_female_sale

In [165]:
#avg_male_sale = total_male_sales / 652
#avg_male_sale

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [199]:
bins = [0, 10, 14, 19, 24, 29, 34, 39, 100]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [207]:
purchase_data["Purchaser Age"] = pd.cut(purchase_data["Age"], bins, labels = group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Purchaser Age
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [210]:
age_groups = purchase_data.groupby("Purchaser Age")
age_groups.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Purchaser Age
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,132,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,<10
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,<10
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30-34
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25-29
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-19
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,25-29
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56,25-29
76,76,Mindadaran26,13,Female,88,"Emberling, Defender of Delusions",3.75,10-14
139,139,Lisasi93,13,Male,158,"Darkheart, Butcher of the Champion",2.45,10-14
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40+
163,163,Sidap51,11,Male,65,Conqueror Adamantite Mace,4.24,10-14
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80